@import '../../../styles/variables.scss';

.wrapper {
  @include wrapper;
  position: relative;
  top: -80px;
  z-index: 1;
  grid-template-rows: max-content;
  background: url('./background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: top center;
  @include tablet {
    background-size: cover;
    background-position: center center;
  }
  @include phone {
    padding: 80px 15px;
    top: 0px;
    background: url('./square.jpg');
    background-repeat: repeat;
  }
}

.container {
  padding: 0px 15px;
  margin-top: 230px;

  @include phone {
    margin-top: 0px;
  }
  header {
    color: white;
    text-align: center;

    h1 {
      @include heading;
      color: white;
      margin: 0px;
      margin-bottom: 40px;
    }
  }
  .description {
    font-size: 20px;
    margin: 0 auto;
    max-width: 900px;
    line-height: 1.2;
    color: white;
    text-align: center;
    margin-bottom: 100px;
  }
  ul {
    @include catalog;
  }
}
