@font-face {
  font-family: 'FuturaBold';
  src: url('../fonts/FuturaPTBold.otf');
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('../fonts/FuturaPTMedium.otf');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('../fonts/FuturaPTLight.otf');
}
