@import './reset.scss';
@import './fonts.scss';

body {
  margin: 0;
  font-family: 'FuturaMedium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
